{{ $faq    := site.Data.faq }}
{{ $key    := .Get 0 }}
{{ $family := index $faq $key }}
<h2>{{ $key }}</h2>

<table class="faq">
  <thead>
    <tr>
      <th>
        <p class="is-size-4 is-size-5-mobile">
          Question
        </p>
      </th>
      <th>
        <p class="is-size-4 is-size-5-mobile">
          Answer
        </p>
      </th>
    </tr>
  </thead>
  <tbody>
    {{ range $family }}
    {{ $question := .q | markdownify }}
    {{ $answer   := .a | markdownify }}
    <tr>
      <td>
        {{ $question }}
      </td>
      <td>
        {{ $answer }}
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
